
image:
  # -- image repository
  repository:  ghcr.io/11tuvork28/thekitty.zone
  # -- image pull policy
  pullPolicy: Always
  # -- image tag
  # this example is not automatically updated, so be sure to use the latest image
  tag: latest

controller:
  strategy:
  rollingUpdate:
    # -- Set deployment RollingUpdate max unavailable
    unavailable: 1
    # -- Set deployment RollingUpdate max surge
    surge: 1
  replicas: 3


# -- Configures service settings for the chart.
service:
  main:
    ports:
      http:
        port: 80
ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  main:
    enabled: false

probes:
  # -- Liveness probe configuration
  # @default -- See below
  liveness:
    # -- Enable the liveness probe
    enabled: true
    # -- Set this to `true` if you wish to specify your own livenessProbe
    custom: true
    # -- sets the probe type when not using a custom probe
    # @default -- "TCP"
    type: TCP
    # -- The spec field contains the values for the default livenessProbe.
    # If you selected `custom: true`, this field holds the definition of the livenessProbe.
    # @default -- See below
    spec:
      httpGet:
        port: 80
        path: /
      initialDelaySeconds: 0
      periodSeconds: 10
      timeoutSeconds: 1
      failureThreshold: 3

  # -- Redainess probe configuration
  # @default -- See below
  readiness:
    # -- Enable the readiness probe
    enabled: true
    # -- Set this to `true` if you wish to specify your own readinessProbe
    custom: true
    # -- sets the probe type when not using a custom probe
    # @default -- "TCP"
    type: TCP
    # -- The spec field contains the values for the default readinessProbe.
    # If you selected `custom: true`, this field holds the definition of the readinessProbe.
    # @default -- See below
    spec:
      httpGet:
        port: 80
        path: /
      initialDelaySeconds: 0
      periodSeconds: 10
      timeoutSeconds: 1
      failureThreshold: 3

  # -- Startup probe configuration
  # @default -- See below
  startup:
    # -- Enable the startup probe
    enabled: true
    # -- Set this to `true` if you wish to specify your own startupProbe
    custom: true
    # -- sets the probe type when not using a custom probe
    # @default -- "TCP"
    type: TCP
    # -- The spec field contains the values for the default startupProbe.
    # If you selected `custom: true`, this field holds the definition of the startupProbe.
    # @default -- See below
    spec:
      httpGet:
        port: 80
        path: /
      initialDelaySeconds: 15
      timeoutSeconds: 1
      ## This means it has a maximum of 5*30=150 seconds to start up before it fails
      periodSeconds: 5
      failureThreshold: 30