{{ template "chart.name" . }}
{{ template "chart.description" . }}

## Installing the Chart

To install the chart with the release name `my-release`:

```console
$ helm repo add 11tuvork28 https://11tuvork28.github.io
$ helm install my-release 11tuvork28/{{ template "chart.name" . }}
```

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}